*
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	overflow: auto;
    background-color: #404258;
	font-family: "JetBrains Mono", monospace;
}

a
{
	text-decoration: none;
	color: #ffffff;
}

#container
{
	position: relative;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	color: #DDE6ED;
}

#header
{
	font-size: 36px;
	font-weight: bold;
	color: #ffffff;
}

#content
{
	width: 90%;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;
	background-color: #50577A;
	border-radius: 10px 10px 10px 10px;
}

.name
{
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
}

.footer
{
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.btn
{
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #576CBC;
	border-radius: 5px 5px 5px 5px;
	color: #ffffff;
	cursor: pointer;
	transition: transform 0.5s;
}

.btn:hover
{
	transform: scale(1.05);
}

.web
{
	width: 50px;
}

.github
{
	width: 75px;
}

#back
{
	position: relative;
	top: 25px;
	width: 75px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #576CBC;
	border-radius: 5px 5px 5px 5px;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
	transition: transform 0.5s;
}