*
{
	box-sizing: border-box;
}

body
{
	margin: 0 0;
	top: 0;
	overflow: auto;
    background-color: #404258;
	font-family: "JetBrains Mono", monospace;
}

a
{
	text-decoration: none;
	color: #ffffff;
}

#container
{
	position: relative;
	top: 32px;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 32px;
	color: #DDE6ED;
}